<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-11 col-lg-5">
            <h2>Selecciona que lado deseas capturar</h2>
            <br>
            <div class="row justify-content-center align-items-center justify-content-lg-start">
                <div class="col-12 d-flex align-items-center flex-column flex-lg-row">
                    <a class="btn btn-primary btn-lg" routerLink="/acuant-capture/front-capture/not-related">Frontal</a>
                    <a class="btn btn-success btn-lg mx-4 my-4 my-lg-auto" routerLink="/acuant-capture/back-capture">Trasera</a>
                    <a class="btn btn-info btn-lg" routerLink="/acuant-capture/both-sides">Ambos lados</a>
                </div>
            </div>
            <br>
            <p class="mt-4">Regresar a la pagina de inicio</p>
            <a class="btn btn-dark" routerLink="/home">Home</a>
        </div>
    </div>   
</div>