<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-11 col-lg-8">
            <h1 class="text-center">Esta app es un ejemplo de como incorporar los módulos de FAD en una aplicación de Angular 9</h1>
            <br>
            <h4>*Recuerda consultar la documentación para cumplir los requisitos que pide cada modulo.</h4>
            <br>

            <div class=" d-lg-flex justify-content-lg-around">
                <div class="d-lg-flex flex-lg-column align-items-lg-center">
                    <p>Modulo de captura de identificación</p>
                    <a class="btn btn-primary" routerLink="/acuant-capture/side-to-capture">Acuant - ID capture</a>
                </div>
                
              
                <div class="d-lg-flex flex-lg-column align-items-lg-center my-4 my-lg-auto">
                    <p>Prueba de vida</p>
                    <a class="btn btn-primary" routerLink="/prueba-de-vida">Facetec - Prueba de vida</a>
                </div>
                
                <div class="d-lg-flex flex-lg-column align-items-lg-center">
                <p>Videograbación</p>
                    <a class="btn btn-primary" routerLink="/video-grabacion">Videograbación</a>
                </div>
            </div>

        </div>
    </div>
</div>